<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class='container'>
        <div class='row justify-content-center'>
            <div class='col-4'>
                <%= yield :three_col_left %>
            </div>
            <div class='col-4'>
                <%= yield :three_col_middle %>
            </div>
            <div class='col-4'>
                <%= yield :three_col_right %>
            </div>
        </div>
    </div>
</body>
</html>