<h3> Welcome to the Dojo Wall, <%= @user['username'] %> \_(~.~)_/</h3>
<%= link_to "Log Out", logout_path %>
<h3>Post a message</h3>
<form action='<%= new_message_path %>' method='post'>
    <% if flash['errors'] %>
        <% flash['errors'].each do |err| %>
            <p class='error'> <%= err %> </p>
        <% end %>
    <% end %>
    <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">        
    <textarea name='message' placeholder='Enter a new message' id='message_message'></textarea>
    <button type='submit'>Post Message</button>
</form>
<% @messages.each do |mes| %>
    <div class='message'>
        <small><%= time_ago_in_words(mes.created_at) %> ago by </small> <b><%= mes.username %></b>
        <p><%= mes.message %></p>
        <h4>Comments:</h4>
        <% mes.comments.reverse.each do |com| %>
            <div class='comment'>
                <b><%= com.user.username %></b> <small>@ <%= time_ago_in_words(com.created_at) %> ago</small>
                <p><%= com.comment %></p>
            </div>
        <% end %>
        <form action='<%= new_comment_path %>' method='post'>
            <% if flash['comerrors'] %>
                <% flash['comerrors'].each do |err| %>
                    <p class='error'> <%= err %> </p>
                <% end %>
            <% end %>
            <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">        
            <input type = 'hidden' name = "message_id" value = "<%= mes['id'] %>">        
            <textarea name='comment' placeholder='Enter a new Comment' id='comment_comment'></textarea>
            <button type='submit'>Comment</button>
        </form>
    </div>
<% end %>